header {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
}

.header-title-wrapper {
  display: flex;
  align-items: baseline;
}

.header-icon {
  display: inline-block;
  color: var(--color-main);
  margin-right: 1rem;
  font-size: 1.8rem;
}

.header-title h1 {
  color: var(--main-text);
  font-weight: 600;
}

.header-title p {
  color: #666;
  font-size: .9rem;
}

.header-action {
  padding: .7rem;
}