.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}

.sidebar-container {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  overflow-y: auto ;
}

.sidebar-container::-webkit-scrollbar {
  width: 6px;
}

.sidebar-container::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.brand {
  height: 70px;
  display: flex;
  align-items: center;
}

.brand span {
  font-size: 30px;
  color: #393939;
}

.logoDark {
  margin-left: 10px;
  font-weight: 400;
}

.logoLight {
  font-weight: lighter;
}

@media only screen and (max-width: 1224px) {
  .sidebar {
    left: -345px;
    z-index: 30;
  } 
}